jdk:
  - openjdk8
language: scala
scala:
  - 2.13.1
  - 2.12.11
  - 2.11.12

# https://docs.travis-ci.com/user/build-stages/#how-to-define-build-stages
jobs:
  include:
    - stage: check
      script: sbt scalafmtCheckAll || { echo "[error] Unformatted code found. Please run 'scalafmtAll' and commit the reformatted code."; false; }
      name: "Code style check (fixed with `sbt scalafmtAll`)"
    - script: sbt scalafmtSbtCheck || { echo "[error] Unformatted sbt code found. Please run 'scalafmtSbt' and commit the reformatted code."; false; }
      name: "Build code style check (fixed with `sbt scalafmtSbt`)"
    - env: CMD="unidoc"
      name: "Create all API docs"
    - env: CMD="docs/paradox"
      name: "Create site with Paradox"
    - env: CMD="docs/paradoxValidateInternalLinks"
      name: "Validate internal Links"
    - stage: docs
      name: "Push documentation to ghpages"
      env: ISOLATED=false
      scala: 2.13.1
      script: sbt "docs/makeSite docs/ghpagesPushSite"
    - stage: deploy
      name: "Deploy to Bintray"
      script: sbt ++$TRAVIS_SCALA_VERSION releaseEarly
stages:
  - name: check
    if: NOT tag =~ ^v
  - test
  - name: docs
    if: tag =~ ^v
  - name: deploy
    if: tag =~ ^v

before_cache:
  - rm -fv $HOME/.ivy2/.sbt.ivy.lock
  - find $HOME/.ivy2/cache -name "ivydata-*.properties" -print -delete
  - find $HOME/.sbt        -name "*.lock"               -print -delete
cache:
  directories:
    - $HOME/.cache/coursier
    - $HOME/.ivy2/cache
    - $HOME/.sbt/boot
    - $HOME/.sbt/launchers
