jdk:
- openjdk11
language: scala
scala:
- 2.11.12
- 2.12.11
- 2.13.3
sbt_args: "-no-colors -J-Xss2m -J-XX:MaxInlineLevel=18 -J-XX:MaxInlineSize=270 -J-XX:MaxTrivialSize=12"
jobs:
  include:
  - stage: check
    env: ISOLATED=true
    scala: 2.13.5
    script: sbt scalafmtCheckAll || { echo "[error] Unformatted code found. Please
      run 'scalafmtAll' and commit the reformatted code."; false; }
    name: Code style check (fixed with `sbt scalafmtAll`)
  - script: sbt scalafmtSbtCheck || { echo "[error] Unformatted sbt code found. Please
      run 'scalafmtSbt' and commit the reformatted code."; false; }
    name: Build code style check (fixed with `sbt scalafmtSbt`)
  - script: sbt docs/makeSite
    name: Verify documentation
  - stage: deploy
    name: Deploy to Maven Central
    script:
    - openssl aes-256-cbc -K $encrypted_b58cde0b2421_key -iv $encrypted_b58cde0b2421_iv
      -in .travis/secrets.tar.enc -out .travis/secrets.tar -d
    - tar xv -C .travis -f .travis/secrets.tar;
    - mkdir -p $HOME/.sbt/gpg && cp .travis/local.pubring.asc $HOME/.sbt/gpg/pubring.asc
      && cp .travis/local.secring.asc $HOME/.sbt/gpg/secring.asc
    - sbt +releaseEarly
  - stage: docs
    name: Push documentation to ghpages
    env: ISOLATED=true
    scala: 2.13.5
    script:
    - git config --global user.name "$USER"
    - git config --global user.email "$TRAVIS_BUILD_NUMBER@$TRAVIS_COMMIT"
    - openssl aes-256-cbc -K $encrypted_b58cde0b2421_key -iv $encrypted_b58cde0b2421_iv
      -in .travis/secrets.tar.enc -out .travis/secrets.tar -d
    - tar xv -C .travis -f .travis/secrets.tar;
    - chmod 600 .travis/local.travis-deploy-key
    - eval "$(ssh-agent -s)"
    - ssh-add .travis/local.travis-deploy-key
    - sbt ";docs/makeSite; docs/ghpagesPushSite"
stages:
- name: check
  if: NOT tag =~ ^v
- test
- name: deploy
  if: tag =~ ^v
- name: docs
  if: tag =~ ^v
before_cache:
- rm -fv $HOME/.ivy2/.sbt.ivy.lock
- rm -fv $HOME/.sbt/ghpages
- rm -fv $HOME/.sbt/gpg
- find $HOME/.ivy2/cache -name "ivydata-*.properties" -print -delete
- find $HOME/.sbt        -name "*.lock"               -print -delete
cache:
  directories:
  - "$HOME/.cache/coursier"
  - "$HOME/.ivy2/cache"
  - "$HOME/.sbt/boot"
  - "$HOME/.sbt/launchers"
env:
  global:
  - secure: hulqCGsekvtgSBL//Lua1y/6v8pCXE9LfilZDOsIMfX832URdiQazLsYVeZrAk+EIikEBP2qs6bkE2fGluhe2x9DHqPMpWF0oUfBMuD+iBKWjTPTFo10UwiJHeqaB8Jx7gFZxtUVsw9w85JlnHNOmdC96q+MpP2cqPWWacJgp2Dtq4zAJx2P60C2gXfIMBzDrvZCpw27VTw51M+qqKchTMnfUnmOPY4lZG9w1TXcdB/7KF+E5fj2NRGBwbT7LmLk7YA4mVp20ohGzpDc0BLcPQP0SPhqLpXVJEB3PWAwmigoDHYPj9VLBKoXP/lp2d30H0YzEJVFU4N8kCQZj559J7zUF8T+90xNjabUBAjq8UFa0Ry7iF+wQD53Cfqthrr2KND2WaQmCOUUQvUywvJN05U9R0GoRZiDukXPZGihVON5j++JvskZ74sx0Hl+q1ay0Nt19nFRQzkulKukeYslmq4B4H8JA4o9oY8qKvJ+ruYIj+ihg66A99+YbcFQLPhL5R1el/taFaRgx1ELV9wkTbFJpLKFMPir/FLDMTpa+94ss/vuv54heTSoLmYegTymlapMu2iGRbsYYHminsBBn+iFzuH71e+5MOVCWiUOji6fuCRlxNCMmOvC8iYHmVazep4hOMi8iXDrvvGuRSj9af9ETMwP8NrqDNw74Zlo7PM=
  - secure: XmthqKHFZtlHwggRIcDKS3K8vbDprr83jjbWNHSe+BTjuAgLtkujk21S3k6NLj1MOBHK02+uNtQB4a15jvUB1ac990ziUMb6ls0wg7LoEMFqUiXdT9ojqPDB68C4EvkBrlwKhoA5o/2qDB7oRhnjivXe+a/C3c5OUihyii+s569VnQmnY6WbL7HF+r9xoNxKHQGt1ObgLy5VfD3G1WgsagJg3A1mlmdM101+VUC3MaB3nLVy6BLP4xwIs8te6A+AdXyy/sQVFEN1ErcYQPDDPtQhHOb84H2iJaalYrRhgg7ZatHq0CQpQSrUcdFwnh9N+iFbximBA2ZVNT/WRzF4JsIrY/1YAuAEf/eolUA6MYfYxYJjCi7dWLTcNBTDQVTfnrHg5JnaXF/9itAPMBvJ3owC0f0NbXMovk7ihIYAzyTVu0j6LuMObz71yr6L2hPnmFb1cR48hzYrHzfkd94TbLu0RekIN7OZhT4yp6P1y7m1LM2vzIN3FqUtUaH9slHcAV+TQ+gacf+ePAcgw7kcvbiM5wlWvkyGsZUPp/0CZ3wdmdfgPO/yBuXsEShcHbSSp/T4iZ0e1JQACbHbR6Brydr7E6wHik6FYggJJFmOIQOt1x6JOvZAPipYFMZEFGneD/QBgLUAf2Kf3EhqopPznCLq6b8bEkXPglWCNz1WR30=
  - secure: MCpXtgrCcv0VdBHtVtvYHcroIBoLLHO6utw7GXKxPFseqP3cZ7RKiT+lpvkxuWvSnzSP0k4g0IkDjgrwSB1WQBc1S3u4QoIhcOj/t4YkbHdC6qxHrLLsNbyFbMnmfuSRsjMCzWITJfR1Ysd7ETB7bvtMFWRYKdiSi5/rX6+cZOX4bCMmC2TNAEXLqdnLSNhGhv8sKArGJC7foupcECdCvdQm2NU4K/8tTc6k6NzFiMQWhOLstYP02xAs9OlZ9JMJqinF5zwDXB7HF3pekfRsmoIiEksoOmKacJAF0n0CIuyW8AUUtGppaP0kHkQlJO+cSuRW0pl1ED/q63/kjJi/uGAqKX+bp5Pxi2lVRaDos2DfG09Ym2mT+HA6E5RzQcRSCF9V3tAoEjkit4hp8LWrjTqZ68NP47zkllNd4GzZ9NzIJIyuyoJ2Az+0OI17yIWDpesxw4pQLZwwEC50W8wjPmg3NBbfJvOjZhpyrnMFr0EyHhxMzwoWDPKZ94LXF4YcO/uMK1iOvbPpYhkf1lm2G6lQQYZ2wEMoEvfGbf358chyw9zxl9uI6/dsOZPek1a24VjtaWNKI79t3D9o/ZvU3KA/ViXstniQfOwZayEM3cjkQoGnYKKgzmG7PFxcm8eQzZPvt0UefyuxBAuulejYcMcIHGKr07w8pcfcmPrhYSY=
  - secure: gVhnlNsZhbwxww9VEzaO9Q1ip1M+zAmm5TuBui4jQNX400wpaDU7AhLBUxmLqW2IUQ8malfsVAILZR8gT8IGJAYAtoG3zf6wJjZFnzg1IPjm47AwbtbQRgCjewuY1Y3xgATsMWjGx31BZzLSzYDlYCdOlAiCpR7v/nvFIpTdv/SrPF9kHwZhBjLPpbGjUDncesttKXA+4gD8tEs4XF4A/nf362Xe+yAXDLkPtuvlKXKpLCW0aeX5X4ofNP+DcOC042fDLXxxSPGLMnr4VZ+nBeattKLunmL3HaNtm2wfRQuAXRncZiYRoVoj3tR/PSrHlsSSDai/wuNyXhJ3vJ1Oq9IgJjeYdr3uoqi3ut5FOblobfbSvwl8qQx00xNOED4ecGIgHjrXG2Am8bAqWq7a7SOcSpuEogDN68EIwcV73sJ76ZXOEGK66zqQI3IUjQtbNwVg+eh0cWJclYOcp3yGtxvkobhDQjis2LtpHocfz3jcthMJLw+Hj2tMffZcvVz1Jub3HQdV+/8Dk2gWmzlQHXNfSCyF6WoUcV467tMCqL24ccS5CaStWhmhljuVmpg0T7mwJY4lrqVdC//e2Vf5UsAaxscFyiNZw6oryc/8ktPf8GMJv0uuIibEwus4lTK2QRygjtytWfLIRCTe6rlArLfBnVGeAke0siuV9HHPZCQ=
  - secure: DKHbmi1hDoC2pZMMgNPJ9Osf4IcpyYDD+zVFu2TyLS+mU4nNKvR0JIayv8KelwxDUd451LW7f5acrh99jo4dXYnDVf+QG0B9eYddoynTsLlA1+pYA1vbhE/LQ4bp9EIeMivBU9tGs788Vgfy5DGWNiiXpadMSxhrCErvdEXYeRa8Y4IlhNm+vZ1FfyrB6H/WFJwIU5DwnL6S1GFNJozheLmBw8qb7Gr1bllOMhwVaPfz/GmsmWW30hAHg2rnPl937SZDHqVkSA/KIMbKmK5fNulsMgAdymtdgpB/FA9iY3KlGHcI8DdhKVJapDmXCl2mTAib1Trh+FkPlYi+syS1eJNLCi986aK3+XHRyUjHvZyhu3qpQTYX5P3BxRDxMc12wRxr9lKoVmS8bn+cbK8kQUtJButz5HnQkKBIyNR6T3JW8vEkkMbTfHRUQRfldG9WWjn1OSfishKrdBZBqDGlHp17S5RM6OBK52VHiXm+XIoyLPu+XSJesbMN7JFuydqybXVr3AEksSpZT4ot+5TK5koN3c3Hy5QujP3jyjpf65wWCnoAyOU6EG3SVuad3Rk72FGlM0J2zwrbznz6LV2rfBOG4jcGAFOYnYqBlSSZHob92vuzDD9broPAP6Qu6mY/Ys57s/YIj7B+dvGsdCwdAYAPWJW6djmHGhAasT8lk8I=
