<configuration>

<!--  <appender name="stash" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--    <file>application.log</file>-->
<!--    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--      <fileNamePattern>application.log.%d{yyyy-MM-dd}</fileNamePattern>-->
<!--      <maxHistory>30</maxHistory>-->
<!--    </rollingPolicy>-->
<!--    <encoder class="net.logstash.logback.encoder.LogstashEncoder" />-->
<!--  </appender>-->

<!--  <root level="all">-->
<!--    <appender-ref ref="stash" />-->
<!--  </root>-->

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%-5level] %logger - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="DEBUG">
    <appender-ref ref="CONSOLE" />
  </root>
</configuration>