<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5relative %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- We disable "level based" logging here because we want the groovy script to decide -->
    <root level="TRACE">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>